<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    
    <!-- 1. 引入我们自己写的主样式文件 -->
    {{ $css := resources.Get "css/main.css" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />

    <!-- 2. 引入 Snipcart 的官方样式 -->
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />
    
    <!-- 3. 引入我们自己写的、用来覆盖 Snipcart 的样式 -->
    <link rel="stylesheet" href="/css/custom-snipcart.css" />
  </head>
  <body>

   
    {{ block "main" . }}
    {{ end }}

    <!-- Snipcart 需要的 JS 和 div 标签，必须放在 body 的最末尾 -->
    <script async src="https://cdn.snipcart.com/themes/v3.7.3/default/snipcart.js"></script>
    <div hidden id="snipcart" data-api-key="MGRiZmJkNmQtMDBmNS00ZjMwLWI1NmYtMWEwY2ViYzFkYzA2NjM4ODc2NDM5NTk5MjgxNjkz"></div>

 <script src="/js/product-gallery.js"></script> <!-- 添加这一行 -->
  </body>
</html>