/* Product Page Layout */
.flex-l { display: flex; }
.items-start-l { align-items: flex-start; }
.w-50-l { width: 50%; }

/* Image Gallery */
.main-image img {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  border-radius: 4px;
}

.thumbnail-images .product-thumbnail {
  width: 100%;
  height: auto;
  border: 2px solid transparent;
  transition: border-color .15s ease-in-out;
}

.thumbnail-images .product-thumbnail:hover {
  border-color: #ccc;
}

/* Let's reuse some Tachyons classes for consistency with Ananke */
.pointer { cursor: pointer; }
.o-60 { opacity: 0.6; }
.o-60:hover { opacity: 1; }
.glow:hover {
  text-shadow: 0 0 8px currentColor;
}
.bg-dark-green { background-color: #19a974; }